<h2>@Model.GetName(), @Model.GetDescription()</h2>
<p>Email: @Model.GetEmail(), Phone Number: @Model.GetPhoneNumber()</p>

<a href="/">View all jobs</a>
<a href="/jobs/removed/@Model.GetId()">Remove this job listing</a>
