<h1>You've added a new task!</h1>
<p>Company name: @Model.GetName()</p>
<p>Description: @Model.GetDescription()</p>
<p>Email: @Model.GetEmail()</p>
<p>Number: @Model.GetPhoneNumber()</p>
<p><a href="/">Add another job</a></p>
<p><a href="/view_all_jobs">View current jobs</a></p>
