<h1>To Do List</h1>
@foreach(var currentJob in Model)
{
  <h2><a href="/jobs/@currentJob.GetId()">@currentJob.GetName(), @currentJob.GetDescription()</a></h2>
}
<p><a href="/">Add another job</a></p>
<form action="/jobs_cleared" method="post">
  <button type="submit" name="button">Clear All Jobs</button>
</form>
