<h1>Current Job Openings</h1>
@foreach(var currentJob in Model)
{
  <h2><a href="/jobs/@currentJob.GetId()">@currentJob.GetName(), <em>@currentJob.GetDescription()</em></a></h2>
}
<p><a href="/add_new_job">Add your own job listing.</a></p>
<form action="/jobs_cleared" method="post">
  <button type="submit" name="button">Clear All Jobs</button>
</form>
