<h1>To Do List</h1>
<ul>
  @foreach(string job in Model)
  {
    <li>@job.GetName()</li>
  }
</ul>
<p><a href="/">Add another job</a></p>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
